header {
  background-color:#5b7989;
  text-align: left;
  color:#ffffff;
  text-shadow: 2px 2px #02010a;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: Dancing Script;
}

body{
  background-color: #82c3a6;
  font-family: Dancing Script;
  color: 000000;
  }
/*Menu navegacion*/
nav{
  text-align: right;
  text-shadow: none;
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

a:visited{
  color: #fff;
  text-decoration: none;
  }

a:active{
	color: #fff;
      }

a.subrayado{
  text-decoration: none;
}
/*Orden y disposicion de bloques con flex*/

.imagen1{
  width: 80%;
  padding: 5%;
  order: 1;
    }

.imagen2{
  /*width: 350px;*/
  width: auto;
  padding: 5px;
  order: 2;
  /*float: left;*/
  box-shadow: 2px 2px 2px #02010a;
  margin: 2px;

  }
.imagen3{
  /*width: 350px;*/
  width: auto;
  padding: 5px;
  order: 3;
  /*float: left;*/
  box-shadow: 2px 2px 2px #02010a;/**/
  margin: 2px;
}

.contenedor{
  display: flex;
  flex-direction: column;
  background-color: #82c3a6;
  margin: 1px;
  }

.contenedor2{
  display: flex;
  flex-flow: row wrap;
  background-color: #d5c75f;
  margin: 1px;
  justify-content:space-between;
}

.contenedor2 img{
/*  display: block;*/
display: flex;
  position: relative;
  margin: -6px 6px 6px -6px;
}

.contenedor2 img:hover {
  transform: rotate(-10deg);
}

/*Footer*/
footer{
  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-size: 25px;
}

.contenedorfooter{
  display: flex;
  flex-flow: row wrap;
}

.contFooter1{
  order: 1;
padding: 5px;

}
.contFooter2{
  order: 2;
  padding: 5px;
}
.contFooter3{
  order: 3;
  padding: 5px;
}
.contFooter4{
  order: 4;
  padding: 5px;
}

/*Pagina retratos*/

.contenedorimg1{
  display: flex;
  background-color: #82c3a6;
  margin: 1px;
  }
.contenedorimg2{
  display: flex;
  background-color: #82c3a6;
  margin: 1px;
  }


.imagen4{
  order: 1;
  padding: 5px;
}
.imagen5{
  order: 1;
  padding: 5px;
}
.imagen6{
  order: 1;
  padding: 5px;
}
.imagen7{
  order: 1;
  padding: 5px;
}
.imagen8{
  order: 1;
  padding: 5px;
}
.imagen9{
  order: 1;
  padding: 5px;
}
