header {
  background-color:#5b7989;
  text-align: left;
  color:#ffffff;
  text-shadow: 2px 2px #02010a;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body{
  background-color: #82c3a6;
}
/*Menu navegacion*/
nav{
  text-align: right;
  text-shadow: none;
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

a:visited{
  color: #fff;
  text-decoration: none;
  }

a:active{
	color: #fff;
      }

a.subrayado{
  text-decoration: none;
}
/*Orden y disposicion de bloques con flex*/

.imagen1{
  width: 80%;
  padding: 5%;
  order: 1;
  }

.imagen2{
  width: 350px;
  padding: 5px;
  order: 2;
}
.imagen3{
  width: 350px;
  padding: 5px;
  order: 3;
}

.contenedor{
  display: flex;
  flex-direction: column;
  background-color: #82c3a6;
  margin: 1px;
  }

.contenedor2{
  display: flex;
  flex-flow: row wrap;
  background-color: #d5c75f;
  margin: 1px;
  justify-content:space-between;
  /*padding: 5%;*/
}


/*Footer*/
footer{
  background-color: #C6d5c5;
  padding: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
